body{
	font-family: Arial;
	font-style: normal;
	font-size: 12px;
    background:#FFFFFF;
    margin:0;
    padding:0;
    text-align:center; /* hack para o IE */ 
    }

#main {
    width: 300px;
    margin:0 auto;          
    padding: 10px;
    background:#FFFFFF;
    text-align:left; /* "remédio" para o hack do IE */
}



	form ul {
    list-style: none;
    margin: 0;
    text-align: left;
    background:#FFFFFF;
}

form ul li {
    margin-bottom: 5px;
}

form ul li label {
    display: block;
    float: left;
    width: 150px;
    line-height: 24px;
}


fieldset{
	max-width: 250PX;
	border: solid 1px #CCCCCC;
    background:#Fededed;
}

input {
    border: 5px solid white; 
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 150px;
    background-image: url( 'blue_bg.png' );
    background-repeat: repeat-x;
    background-position: top;
}

#btn1{
	padding:8px 20px;
	color:#000000 !important;
	font-family:'Helvetica Neue',sans-serif;
	font-size:13px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #095B7E
}


#resultado {
     visibility: hidden;
     position: absolute;
     right: 0px;
     top: 40px;
     width:50%;
     height:200px;
     overflow: auto;
     text-align:center;
     z-index: 1000;
     background: #FFFFFF;
     //background-image:url(background-trans.png);
}

#resultado div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000000;
     padding:15px;
     text-align:center;
     background: #FFFFFF;
}